@import "tailwind.css";
@import "react-datepicker.css";
@import "loader.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wp-45 {
  width: 45%;
}
.navbar-link {
  @apply text-black hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-base font-light
}
.mobile-navbar-link {
  @apply text-gray-800 hover:text-gray-300 block px-3 py-2 rounded-md text-base font-medium
}